* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 44px 0px 130px 76px;
    font-size: 24px;
    cursor: pointer;
}

.link-header {
    margin-right: 23px;
}

.button-header {
    border-radius: 20.5px;
    background: #665AE1;
    width: 130px;
    height: 41px;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.logo-image {
    Width: 568px;
    Height: 500px;
    display: inline-block;
}

section {
    display: inline-block;
    margin-left: 86px;
}

h1 {
    color: #515151;
    font-size: 100px;
    font-weight: 900px;
    line-height: normal;
}

h2 {
    color: #515151;
    font-family: Montserrat;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    color: #848484;
    font-size: 24px;
    font-weight: 400px;
    line-height: normal;
    Width: 515px;
}

.button-main {
    border-radius: 30px;
    background: #ADFF00;
    width: 239px;
    height: 64px;
    color: #000;
    font-size: 28px;
    font-weight: 700px;
    line-height: normal;
    margin-top: 65px;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    header {
        display: none;
    }


    section {
        width: 100vh;
    }

    h1 {
        font-size: 50px;
        width: 263px;
        height: 52px;
        text-align: center;
        margin: 24px 63px 7px 250px;
    }

    h2 {
        font-size: 30px;
        width: 232px;
        text-align: center;
        margin: 0 79px 17px 265px;
    }

    p {
        font-size: 25px;
        margin-left: 130px;
    }

    img {
        margin: 149px 22px 24px 180px;
        Width: 354px;
        Height: 317px;
    }

    button {
        margin-left: 130px;
    }
}

@media screen and (max-width:800px) {
    header {
        display: none;
        
    }
    img {
        margin-top: 70px
    };
}
